
/*.container-1 {
    width: 100%;
    float: left;
    border-style: solid;
    border-radius: 60px;
    margin: auto;
    text-align: center;
    -webkit-box-shadow: 0 0 2px 1px grey;
    -moz-box-shadow: 0 0 2px 1px grey;
    box-shadow: 0 0 2px 1px grey;
}*/
/*.row {
    border-style:solid;
    margin: auto;
    text-align: center;
    width:100%;
}*/
#personel {
    /*border-style: dashed;*/

    margin: auto;
    float: left;
    text-align: center;
    border-style:solid
}

    #personel td, #personel th {
        border-bottom: 1px solid #ddd;
        text-align: center;
         padding:10px;
        margin:10px;
    }
 
#personel tr:nth-child(even){background-color: #f2f2f2;}

    #personel tr:hover {
        background-color: #a6debe;
        color: #fff;
    }

    #personel th {
       
        background-color: #2c3e50;
        color: white;
     
    }