@{
    ViewData["Title"] = "Home Page";
}



  <div>
      <div class="row" style="width:100%">
          <img src="~/images/giris1.jpg" style="width:100%; height:400px"/>
      </div>
      <p>
          <br />
          <b>TİSKİ Genel Müdürlüğü 223 Personel Alımı İlanı 2020</b> <br />
          Trabzon Su ve Kanalizasyon İdaresi Personel A.Ş. bünyesinde çalıştırılmak üzere personel alımı yapılacaktır. Personel alımı ile ilgili başvuru şekli, başvuru şartları, başvuru için istenen belgeler, giriş sınavı ve tarihi ile sınav yeri aşağıda belirtilmiştir.<br />
         <b>Başvurular Nasıl ve Nereden Yapılacaktır?</b> <br />
          Adaylar 13/01/2020 Pazartesi ile 20/01/2020 Pazartesi tarihleri arasında Trabzon Büyükşehir Belediyesinin (www.trabzon.bel.tr), TİSKİ Genel Müdürlüğü’niin (www.tiski.gov.tr) ve Trabzon Su ve Kanalizasyon İdaresi Personel Anonim Şirketi’nin (www.trabsu.com.tr) internet adresleri üzerinden müracaatlarını yapacaklardır. Adaylar başvuru için istenen belgeleri başvuru sayfasına yüklemek zorundadır. (Eksik belge ile başvuran adayların müracaatları kabul edilmeyecektir.)<br />
        <b>  Başvuru Şartları Nelerdir?</b><br>
          Başvuru tarihi itibariyle 18 (onsekiz) yaşından gün almış olmak.<br />
          657 Sayılı Devlet Memurları Kanununun 48 inci Maddesinin “Genel Şartlar” başlıklı A bendinin;<br />
          Türk Vatandaşı olmak,<br />
          Kamu haklarından mahrum bulunmamak,<br />
          (Değişik: 23/1/2008 – 5728/317 md.) Türk Ceza Kanununun 53 üncü maddesinde belirtilen süreler geçmiş olsa bile; kasten işlenen bir suçtan dolayı bir yıl veya daha fazla süreyle hapis cezasına ya da affa uğramış olsa bile devletin güvenliğine karşı suçlar, Anayasal düzene ve bu düzenin işleyişine karşı suçlar, (…) zimmet, irtikap, rüşvet, hırsızlık, dolandırıcılık, sahtecilik, güveni kötüye kullanma, hileli iflas, ihaleye fesat karıştırma, edimin ifasına fesat karıştırma, suçtan kaynaklanan malvarlığı değerlerini aklama veya kaçakçılık suçlarından mahküm olmamak.<br />
          Askerlik durumu itibariyle;<br />
          a) Askerlikle ilgisi bulunmamak,<br />

          b) Askerlik çağına gelmemiş bulunmak,<br />

          c) Askerlik çağına gelmiş ise muvazzaf askerlik hizmetini yapmış yahut ertelenmiş veya yedek sınıfa geçirilmiş olmak,<br />

          53 üncü madde hükümleri saklı kalmak kaydı ile görevini devamlı yapmasına engel olabilecek (…) akıl hastalığı (…) bulunmamak şartlarını taşımak.<br />
          Görevini devamlı yapmasına engel olabilecek sağlık sorunları bulunmamak.<br />
          Kanun ya da Kanun Hükmünde Kararnamelerle kamu görevinden çıkarılmamış olmak veya olağanüstü hal döneminde alınan tedbirler nedeniyle görevlerine son verilmemiş olmak.<br />
          Başvuracağı iş pozisyonuna ait EK-1′ de yer alan özel şartları taşımak.<br />
          Başvurular, en fazla 1 (bir) iş pozisyonuna yapılacak olup, 1 (bir) den fazla iş pozisyonuna başvurulamayacaktı. Başvuru belgelerinde eksiklik tespit edilen adayların başvuruları değerlendirme dışı bırakılacaktır.<br />
       <b>   Başvuru Sırasında İstenilen Belgeler Nelerdir?</b><br />
          Öğrenim durumunu gösterir belge. (PDF veya JPEG formatı)<br />
          e-Devlet kapısı üzerinden alınacak Tarihçeli Yerleşim Yeri ve Diğer Adres belgesi. (PDF formatı),<br />
          Başvurduğu iş pozisyonuna ilişkin EK-1′ deki aranan nitelikler ve istenen belgeler. (PDF veya JPEG formatı)<br />
          e-Devlet kapısı üzerinden alınacak SGK Tescil ve Hizmet Dökümü (barkodlu) belgesi. (S.G.K Uzun Vade Hizmet Dökümü), (PDF formatı)<br />
          Son 6 ay içerisinde çekilmiş vesikalık fotoğraf. (JPEG veya PNG formatı)<br />
         <b> Giriş Sınavı ve Tarihi</b><br />
          Başvuru belgelerinin incelenmesinin ardından, uygun şartları taşıyan adayların listesi, son başvuru tarihinden İtibaren en geç 15 (onbeş) gün içerisinde; Trabzon Büyükşehir Belediyesi nin (www.trabzon.bel.tr), TİSKİ Genel Müdürlüğü nün (www.tiski.gov.tr) ve Trabzon Su ve Kanalizasyon İdaresi Personel Anonim Şirketi nin (www.trabsu.com.tr) internet adresleri üzerinden yayınlanacak ve bu kişiler sınav komisyonu tarafından çağrılacaklardır.<br />

          Listeye itirazlar, uygun şartları taşıyan adayların listesinin yayınlanmasından itibaren 5 (beş) gün içerisinde Trabzon Su ve Kanalizasyon İdaresi Personel A.Ş.‘ ye yazılı olarak yapılacaktır. Sınav, başvurulan iş pozisyonuna göre sözlü ve/veya uygulamalı olarak yapılacaktır. Sınava çağrılan adayların, aday başvuru kayıt belgesini yanlarında getirmeleri zorunludur.<br />

      </p>
      <div class="col text-center">
          <input type="submit" value="BAŞVURMAK İÇİN TIKLAYINIZ" class="btn btn-success" onclick="event.preventDefault(); location.href = '@Url.Page("/Basvur/Index")'">

      </div>

  </div>
      


